<a href="https://colab.research.google.com/github/ZykinaViktoriya/Theory_probability/blob/main/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задача 1. Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
salary =pd.Series([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])

In [ ]:
average = sum(salary) / len(salary)
print(average)

65.3

In [ ]:
standart_deviation = np.sqrt(sum((salary - average) ** 2) / len(salary))
print(standart_deviation)

30.823854398825596

In [ ]:
shifted_variance = sum((salary - average) ** 2) / len(salary)
print(shifted_variance)

950.11

In [ ]:
unbiased_variance = sum((salary - average) ** 2) / (len(salary)-1)
print(unbiased_variance)

1000.1157894736842

**Задача 2. В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?**

In [ ]:
from math import factorial as f

А1_2 - из первого ящика вынули два белых мяча

А2_1 - из второго ящика вынули один белый мяч

А1_1 - из первого ящика вынули один белый мяч

А2_2 - из второго ящика вынули два белых мяча

А1_0 - из первого ящика вынули ноль белых мячей

А2_3 - из второго ящика вынули три белых мяча

А = А1_2* А2_1 + А1_1* А2_2 + А1_0* А2_3

In [ ]:
PA1_2 = (f(5) / (f(2) * f(5 - 2))) * (f(3) / (f(0) * f(3 - 0))) / (f(8) / (f(2) * f(8 - 2)))

In [ ]:
PA2_1 = (f(5) / (f(1) * f(5 - 1))) * (f(7) / (f(3) * f(7 - 3))) / (f(12) / (f(4) * f(12 - 4)))

In [ ]:
PA1_1 = (f(5) / (f(1) * f(5 - 1))) * (f(3) / (f(1) * f(3 - 1))) / (f(8) / (f(2) * f(8 - 2)))

In [ ]:
PА2_2 = (f(5) / (f(2) * f(5 - 2))) * (f(7) / (f(2) * f(7 - 2))) / (f(12) / (f(4) * f(12 - 4)))

In [ ]:
PA1_0 = (f(5) / (f(0) * f(5 - 0))) * (f(3) / (f(2) * f(3 - 2))) / (f(8) / (f(2) * f(8 - 2)))

In [ ]:
PA2_3 = (f(5) / (f(3) * f(5 - 3))) * (f(7) / (f(1) * f(7 - 1))) / (f(12) / (f(4) * f(12 - 4)))

In [ ]:
PA = PA1_2 * PA2_1 + PA1_1 * PА2_2 +PA1_0 * PA2_3
print(PA)

0.3686868686868687

**Задача 3. На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.**

A1 - первый стрелок

А2 - второй стрелок

А3 - третий стрелок

In [ ]:
PA = 1/3 * 0.9 + 1/3 * 0.8 + 1/3 * 0.6
print(PA)

0.7666666666666666

In [ ]:
PA1 = 1/3 * 0.9 / PA
print(PA1)

0.391304347826087

In [ ]:
PA2 = 1/3 * 0.8 / PA
print(PA2)

0.3478260869565218

In [ ]:
PA3 = 1/3 * 0.6 / PA
print(PA3)

0.2608695652173913

**Задача 4. В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?**

А - студент, сдавший сессию, с факультета А

В - с факультета В

С - с факультета С

In [ ]:
PX = 1/4 * 0.8 + 1/4 * 0.7 + 2/4 * 0.9
print(PX)

0.825

In [ ]:
PA = 1/4 * 0.8 / PX
print(PA)

0.24242424242424246

In [ ]:
PB = 1/4 * 0.7 / PX
print(PB)

0.21212121212121213

In [ ]:
PC = 2/4 * 0.9 / PX
print(PC)

0.5454545454545455

**Задача 5. Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?**

A -из строя вышли все детали

In [ ]:
PA = 0.1 * 0.2 * 0.25
print(PA)

0.005000000000000001

B - из строя вышли две детали

В1 - первая и вторая

В2 - первая и третья

В3 - вторая и третья

В = В1 + В2 + В3

In [ ]:
PB = 0.1 * 0.2 * 0.75 + 0.1 * 0.8 * 0.25 + 0.9 * 0.2 * 0.25
print(PB)

0.08000000000000002

C - из строя вышла хотя бы одна деталь

In [ ]:
PC = 1 - 0.9 * 0.8 * 0.75
print(PC)

0.45999999999999996

D - из строя вышла одна деталь

D1 - первая деталь

D2 - вторая деталь

D3 - третья деталь

Е = В + D - от одной до двух деталей

In [ ]:
PD = 0.9 * 0.2 * 0.25 + 0.1 * 0.8 * 0.25 + 0.1 * 0.2 * 0.75
print(PD)

0.08

In [ ]:
PE = PB + PD
print(PE)

0.16000000000000003